
@{
    ViewBag.Title = "Add";
}

<h2>Them san pham moi:</h2>
<form action="/Sanpham/Create" method="post">
    <label for="ID:">id</label>
    <input type="text" name="ID" value="" />
    <label for="Name">name</label>
    <input type="text" name="Name" value="" />
    <input type="submit" name="Submit" value="Them moi: " />
</form>
